.menu {
    padding-top: 20px;
    padding-left: 20px;
        .menu-header {
        color: black;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        span {
            color: #5ae972;
        }
        
         li {
             padding: 20px;
             margin: 20px;
         }
        
    }
      
}
.homepage {
    width: 55rem;
    // padding:1rem;
    margin-left: 0;
    margin-top: 2rem;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    border-radius: 1rem;
    .personal-introduction {
        background-color: #5ae972; /* Green */
        color: #ffffff;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        h1 {
            padding: 10px;            
            margin-top: 4rem;
           }
        .sub-title {
            margin: 4px;
            // padding-left: 2rem;
            font-size: 1.5rem;
                    }
        .social-link {
            padding: 20px 40px;
            margin: 10px;
            // width : 1.5rem;
            // height: 1.5rem;
            font-size: 1.5rem;
            color: white;
            display: inline;
        }
    }    
    .personal-info {
        // background-color:  white;
        width: 100%;
        color: black;
        height: 18rem;
        padding-left: 2rem;
        padding-top: 2rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        .aboutme {             
            span {
                color: #5ae972;
            }
        }
        .info-list {
            padding-top: 2rem;
            list-style-type: none;
            li span:first-child {
                color: blue;
                padding-right: auto;
            }
            li span:last-child {
                color: gray;
                padding-left: 2rem;
            }
            
        }
                       
        }       

    .personal-introduction {
        .personal-photo {
            position: relative;
            height: 16rem;
            img {
                position: absolute;
                top:4.5rem;
                left:4rem;
                width:14rem;  
                height:14rem; 
            }
        }
    }
}
.main {
    // background-color: aqua;    test main scope
    width: 56rem;
    padding: 0.5rem;
    .pprofiles-footers {        
        padding-top: 1rem;
        h3 {
            font-size: 1rem;
        }
        p {
            position: float;
        }
    }        
}
